RewriteEngine On

# Force non-www
RewriteCond %{HTTP_HOST} ^www\.pickwinningnumbers\.com$ [NC]
RewriteRule ^ https://pickwinningnumbers.com%{REQUEST_URI} [R=301,L]

<IfModule mod_headers.c>
  <Files "results-feed.js">
    Header set Cache-Control "max-age=300, public"
  </Files>
</IfModule>
